

.container {
    position: relative;
    text-align: center;
    color: white;
}



body {
    font-family: "Lucida Console", Lucida, Monospace;
    background:#eeeeee;
	color:Black;
	font:normal 10 px;
	text-align:center; 
	}
table, td{
	    border:2px solid black;
	}

